h1 {color:rgb(35, 76, 190);
    width: 350px;
    font-size: x-large;
}

#enviar {
    background-color: rgb(31, 143, 195);
    font-size: medium;  
}

p {
     color: black;
}

a {
    text-decoration: none;
}

#block1{
    margin: auto;
    background-color:rgba(207, 207, 207, 0.719);
    width: 800px;
    padding: 10px 15px 15px 15px;
    border-radius: 10px;
}

#wrap1{
    background-color: rgb(187, 187, 187);
    width: 300px;
    padding: 10px 15px 15px 15px;
    border-radius: 10px;
}

#wrap2{
    float: right;
    background-color: darkgray;
    width: 300px;
    padding: 10px 15px 15px 15px;
    border-radius: 10px;
    margin-right: 30px;
}

aside h2{
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
}

img{
    height: 180px;
    display: block;
    margin: auto;
}